<ion-view view-title="Setting">
  <ion-content>

  	<div class="list">
  		<div class="item item-divider">
  			로그인 / 회원가입
  		</div>
  		<a class="item" ng-if="!isLogin" ng-click="login()">
  			로그인
  		</a>
  		<a class="item" ng-if="!isLogin" ng-click="register()">
  			회원가입
  		</a>


  		<div class="item" ng-if="isLogin">
  			<div class="list card">

			  <div class="item item-avatar">
			    <img src="./img/user-img.png">
			    <h2>{{userInfo.name}}</h2>
			    <p>가입일: {{userInfo.since}}</p>
			  </div>

			  <div class="item item-body">
  			    <a class="item" ng-click="logout()">로그아웃</a>
			  </div>

	  		</div>
	  	</div>

  		
  		<div class="item item-divider">
  			GPS 설정
  		</div>
  		<p>
  			iOS: 설정 > 개인정보보호 > 위치서비스 를 켜주시기 바랍니다. <br/>
  			Android: 를 켜주시기 바랍니다.
  			GPS설정이 되어있지 않으면 정확한 정보를 얻을 수 없습니다.
  		</p>





  	</div>


  </ion-content>
</ion-view>
