<ion-view view-title="{{sportType}}">
  <ion-content>
  <nav id="sportsNav">
    <ul class="row">
      <li class="col"><a ng-click="comp()" ng-style="navTabStyle1">대회</a></li>
      <li class="col"><a ng-click="court()" ng-style="navTabStyle2">코트장</a></li>
      <li class="col"><a ng-click="club()" ng-style="navTabStyle3">동호회</a></li>
    </ul>
  </nav>

  <div class="navBottomBorder"></div>
  <pre>{{radioModel || 'null'}}</pre>

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()"
    refreshing-text="Refreshing"
    pulling-icon="ion-android-arrow-down"
    spinner="dots">
  </ion-refresher>

  <ion-list>
    <ion-item class="list card" ng-repeat="item in items">

      <div class="item item-avatar">
        <img src="./img/aitch3_logo6.jpg">
        <h2>{{item.title}}</h2>
        <p>{{item.date}}</p>
      </div>


      <div class="item item-body">
        <img class="full-image" src="http://www.sportal.or.kr/newletter/20150401/images/dustn.jpg">
        <p><a href="#/app/main/{{absUrl}}/{{radioModel}}/{{item.id}}">
        {{item.text}}
        #/app/main/{{absUrl}}/{{radioModel}}/{{item.id}}
        </a></p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>


    </ion-item>
  </ion-list>
  


  </ion-content>
</ion-view>