        <!--=== Footer Version 1 ===-->
        <div class="footer-v1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <a href="/"><img id="logo-footer" class="footer-logo" ng-src="{{extra}}images/logo/logo_nav_common.svg" alt="루키코리아"></a>
                            <p>스포츠 레슨 전문 플랫폼: 루키코리아</p>
                            <p>스포츠를 쉽게 배울수 있는곳 루키코리아는 일반인들과 전문 코치님들을 중계함으로써 건강한 스포츠 문화 발전을 위해 노력합니다.</p>
                            <p>
                                대표: 박준현<br/>
                                개인정보관리책임자: 박준현<br/>
                                사업자등록번호: 551-18-00099
                            </p>
                            

                        </div><!--/col-md-3-->
                        <!-- End About -->



                        <!-- Link List -->
                        <div class="col-md-3 col-md-offset-3 md-margin-bottom-40">
                            <div class="headline"><h2>링크</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="#">광고문의</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">투자정보</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">문의하기</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">제안하기</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">고객센터</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div><!--/col-md-3-->
                        <!-- End Link List -->

                        <!-- Address -->
                        <div class="col-md-3 map-img md-margin-bottom-40">
                            <div class="headline"><h2>연락처</h2></div>
                            <address class="md-margin-bottom-40">
                                강원도 원주시 한라대길28 <br />
                                창업보육센터I 401호 <br />
                                전화번호: <a href="tel:070-7524-7713">070 7524 7713</a> <br />
                                이메일: <a href="mailto:info@aitch3.com" class="">info@aitch3.com</a>
                            </address>
                        </div><!--/col-md-3-->
                        <!-- End Address -->
                    </div>
                </div>
            </div><!--/footer-->

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                2015 &copy; All Rights Reserved.
                               <a href="#">개인정보취급방침</a> | <a href="#">서비스약관 및 정책</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--/copyright-->
        </div>
        <!--=== End Footer Version 1 ===-->