    <footer class="container-fluid rkFooter">
        <div class="container">


            <div class="row">
                <div class="col-sm-6">
                    <h1><img src="images/logo/logo_footer.png"></h1>
                    <div class="infoText">
                        <i class="fa fa-phone"></i>&#32;<a href="tel:827075247713">070-7524-7713</a>
                    </div>
                    <div class="infoText">
                        <i class="fa fa-envelope"></i>&#32;<a href="mailto:support@aitch3.com"> support@aitch3.com</a>
                    </div>
                    <div class="infoText">
                        <address><i class="fa fa-map-marker"></i>&#32;강원도 원주시 흥업면 한라대길28 한라대학교(창업보육센터I 401호)</address>
                    </div>
                    <div class="infoText">
                        <i class="fa fa-registered"></i>&#32;사업자등록번호: 551-18-00099
                    </div>
                    <div class="infoText">
                        고객센터 운영시간: 오전 10시부터 오후 6시까지 (공휴일 제외)
                    </div>
                </div>
                <div class="col-sm-6 footerRight">
                    <div class="row">
                        <div class="col-sm-4 infoText">
                            <div class="infoTitle">
                                루키코리아
                            </div>
                            <div class="infoMenu">
                                <ul>
                                    <li><a href="#">서비스 소개</a></li>
                                    <li><a href="#">이용방법</a></li>
                                    <li><a href="#">이용요금</a></li>
                                    <li><a href="#">자주 묻는 질</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 infoText">
                            <div class="infoTitle">
                                관련 정보
                            </div>
                            <div class="infoMenu">
                                <ul>
                                    <li><a href="#">회사소개</a></li>
                                    <li><a href="#">이용약관</a></li>
                                    <li><a href="#">보도자료</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 infoText">
                            <div class="infoTitle">
                                관련 링크
                            </div>
                            <div class="infoMenu">
                                <ul>
                                    <li><a href="#">페이스북</a></li>
                                    <li><a href="#">블로그</a></li>
                                    <li><a href="#">트위터</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
        
                    </div>
                </div>
            </div>
        </div>
    </footer>