
<ul ng-if="stateSelected" class="nav nav-tabs ordercourt">
    <li role="presentation radio">
        <label>
            <input type="radio" ng-model="courtCity.name" name="all" value="all" ng-change="selectAllCities()"> 전체
        </label>
    </li>
    <li role="presentation radio" ng-repeat="city in cities">
        <label>
            <input type="radio" ng-model="courtCity.name" name="{{city.id}}" value="{{city.id}}" ng-value="{{city.id}}" ng-change="citySelected(city.city, city.id)"> {{city.city}}
        </label>
    </li>
</ul>

<ul ng-if="!stateSelected" class="nav nav-tabs order">
    <li role="presentation" ng-click="tab1()" class="{{tab1Active}}"><h4>조회순</h4></li>
    <li role="presentation" ng-click="tab2()" class="{{tab2Active}}"><h4>신규등록순</h4></li>
    <li role="presentation" ng-click="tab3()" class="{{tab3Active}}"><h4>마감일순</h4></li>
</ul>

<div class="section">
    <div class="container">
        <div class="row">
            <a ng-href="/{{curLocationText.en}}/{{curCategory}}/{{item._id}}" class="col-sm-4 col-md-4 item" ng-repeat="item in items | filter:filteredStateClub">
                <div class="wrapper">
                    <img ng-src="{{item.clubImg}}">
                    <div class="info">
                        <h5>{{item.clubTitle}}</h5>
                        <div class="rating">
                            <ul>    
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>