
<ul class="nav nav-tabs ordercourt">
    <li role="presentation">
        <label>
            <input type="checkbox" ng-model="courtCity.all" ng-change="selectAllCities()"> 전체
        </label>
    </li>
    <li role="presentation" ng-repeat="city in cities">
        <label>
            <input type="checkbox" ng-model="courtCity[city.city]" ng-change="citySelected(city.city)"> {{city.city}}
        </label>
    </li>

</ul>


<div class="section">
    <div class="container">
        <div class="row">
            <a ng-href="/{{curLocationText.en}}/{{curCategory}}/{{item._id}}" class="col-sm-4 col-md-4 item" ng-repeat="item in items | filter:filteredStateCourt">
                <div class="wrapper">
                    <img ng-src="{{item.courtImg}}">
                    <div class="info">
                        <h5>{{item.courtTitle}}</h5>
                        <div class="rating">
                            <ul>    
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>