<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rookie Korea</title>


    <!-- Include CSS Assets -->

    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="libs/font-awesome/font-awesome.css" />

    <link rel="stylesheet" href="stylesheets/non-responsive.css" />
    <link rel="stylesheet" href="stylesheets/common.css" />



    <style type="text/css">
        body {


            background-image: -moz-radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 154.5, color-stop(0, rgb(82, 184, 235)), color-stop(1, rgba(20, 137, 182, 0.78)));
            background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            background-image: -ms-radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            background-image: radial-gradient(50% 50%, circle farthest-side, rgb(82, 184, 235) 0%, rgba(20, 137, 182, 0.78) 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100,FinishOpacity=78,Style=2)";
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100, FinishOpacity=78, Style=2);
        }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/favicons/manifest.json">
    <meta name="apple-mobile-web-app-title" content="RookieKorea">
    <meta name="application-name" content="RookieKorea">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="padding0">

    <div class="container">


        <div class="jumbotron marginT50">
            <a href="/"><img src="images/logo-ll.png"></a>
            <h2 class="form-signin-heading">Login <span >아직 회원이 아니신가요? <a href="/register">회원가입</a></span></h2>
            <form method="post">
                <div class="form-group">
                    <label for="userEmail">이메일주소</label>
                    <input type="email" name="login" class="form-control" id="userEmail" placeholder="이메일주소">
                </div>
                <div class="form-group">
                    <label for="userPassword">비밀번호</label>
                    <input type="password" name="password" class="form-control" id="userPassword" placeholder="비밀번호">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">회원가입</button>
            </form>
        </div>


    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="libs/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>



</body>

</html>