<!DOCTYPE html>
<html lang="ko" ng-app="rookieKorea">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rookie Korea</title>


    <!-- Include CSS Assets -->

    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="libs/font-awesome/font-awesome.css" />

    <link rel="stylesheet" href="stylesheets/non-responsive.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/common.css" />



    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="images/favicons/manifest.json">
    <meta name="apple-mobile-web-app-title" content="RookieKorea">
    <meta name="application-name" content="RookieKorea">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body ng-controller="MainCtrl" class="padding0">

    <!-- Start Header -->



    <nav class="navbar navbar-default margin0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav">
                    <li class=""><a href="/competitions" id="competition">대회</a></li>
                    <li class=""><a href="/courts">코트장</a></li>
                    <li class=""><a href="/clubs">동호회</a></li>
                    <li class=""><a href="/newinfo">정보 등록</a></li>
                </ul>




                <ul id="yesLogin" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <%= user %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/userAccount" class="navbar-link">회원정보</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="headerDivider"></div>



    <div class="container">
        <div class="row-fluid">
            <div>

                <div class="page-header">
                    <h1>스포츠 종목을 선택해 주세요.</h1>
                </div>
                <a href="/newinfo/baseball"><img src="images/sports/baseball.png" alt="baseball" class="img-circle sportsList"></a>

                <a href="/newinfo/basketball"><img src="images/sports/basketball.png" alt="basketball" class="img-circle sportsList"></a>

                <a href="/newinfo/bedminton"><img src="images/sports/bedminton.png" alt="bedminton" class="img-circle sportsList"></a>

                <a href="/newinfo/bowling"><img src="images/sports/bowling.png" alt="bowling" class="img-circle sportsList"></a>

                <a href="/newinfo/soccer"><img src="images/sports/soccer.png" alt="soccer" class="img-circle sportsList"></a>

                <a href="/newinfo/tennis"><img src="images/sports/tennis.png" alt="tennis" class="img-circle sportsList"></a>
            </div>

        </div>


    </div>









    <footer class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">

                    <div class="footerRow1">
                        <a href="">[회사소개]</a>
                        <a href="">[약관 및 개인정보 취급방침]</a>
                    </div>
                    <br/>

                    <div class="footerRow2">
                        <div class="footerRow21">
                    l        <img class="foot-logo" src="images/logo-ts.png" alt="Brand Logo" />
                        </div>
                        <div class="footerRow22">
                            <span>서비스 이용문의 T.070-7524-7713 E-mail: cs@aitch3.com | 서비스 제휴 문의 : partnership@aitch3.com</span>
                            <br>
                            <span>에이치3 강원도 원주시 흥업면 한라대길28 (한라대학교, 창업보육준비실 N1213)</span>
                            <br>
                            <span>사업자등록번호: 551-18-00099</span>
                            <br>
                        </div>

                    </div>





                </div>
            </div>
        </div>
    </footer>


    <!-- Include Javascript/JQuery Assets
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="libs/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>


    <script src="javascripts/controller.js"></script>





</body>

</html>