<div class="container title">
    <div class="row">
        <div class="col-sm-10 col-md-10">
            <h4>{{data[0].eventTitle}}</h4>
        </div>

        <div class="col-sm-2 col-md-2">
            <a href="#" class="btn_infoRegi">
                <i class="fa fa-pencil"></i> <span>정보 수정요청</span>
            </a>
        </div>

    </div>
</div>

<div class="container wrapper">
    <div class="row">
        <div class="col-sm-9 col-md-9">

            <div class="section img">
                <img ng-src="{{data[0].eventImg}}">
                <div class="heart" ng-click="heart()">
                    <i class="fa fa-heart"></i>
                </div>
            </div>

            <div class="section title">
                <h3>{{data[0].eventTitle}}</h3>
                <h4>{{data[0].eventSport}}</h4>
            </div>




            <div class="section info">
                <h4>기본정보</h4>
                <table class="table">
                    <tbody class="">
                        <tr>
                            <th class="col-md-4">대회장소</th>
                            <td class="col-md-8">{{data[0].eventCourtName}} ({{data[0].eventLocation.state}}, {{data[0].eventLocation.city}})</td>
                        </tr>
                        <tr>
                            <th>경기일시</th>
                            <td>{{data[0].eventDate.start1}} ~ {{data[0].eventDate.end1}}</td>
                        </tr>
                        <tr>
                            <th>신청기간</th>
                            <td>{{data[0].eventRegistDate.start1}} ~ {{data[0].eventRegistDate.end1}}</td>
                        </tr>
                        <tr>
                            <th>코트장</th>
                            <td>{{data[0].eventCourtName}}</td>
                        </tr>
                        <tr>
                            <th>홈페이지</th>
                            <td><a ng-href="{{data[0].eventContact.url}}">{{data[0].eventContact.url}}</a></td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>{{data[0].eventContact.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="section info">
                <div id="map" style="width:100%;height:350px;"></div>
            </div>
            
            <script>
                var lat = $('[ng-controller="detailCtrl"]').scope().data[0].eventGPS.lat;
                var lng = $('[ng-controller="detailCtrl"]').scope().data[0].eventGPS.lng;
                var courtName = $('[ng-controller="detailCtrl"]').scope().data[0].eventCourtName;
                var markers = [
                    {
                        position: new daum.maps.LatLng(lat, lng), 
                        text: courtName // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다     
                    }
                ];
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = { 
                        center: new daum.maps.LatLng(lat, lng), // 지도의 중심좌표
                        level: 3, // 지도의 확대 레벨
                        marker: markers // 이미지 지도에 표시할 마커 
                    };

                // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                var map = new daum.maps.StaticMap(mapContainer, mapOption);

            </script>

            <div class="section details">
                <h4>상세정보</h4>
                <div ng-bind-html="data[0].eventInfo"></div>





            </div>




        </div>

        <div class="col-sm-3 col-md-3">
            <div class="subsection">
                <div class="dday">
                    <h4>D-{{DDay}}</h4>
                </div>

                <table class="table">
                    <tbody class="">
                        <tr>
                            <th class="col-md-4">개시일</th>
                            <td class="col-md-8">{{data[0].registDate}}</td>
                        </tr>
                        <tr>
                            <th>만료일</th>
                            <td>{{eventEndDate}}</td>
                        </tr>
                        <tr>
                            <th>관심하트</th>
                            <td>{{data[0].eventLikes}}</td>
                        </tr>
                        <tr>
                            <th>클릭수</th>
                            <td>{{data[0].eventVisits}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

