<div class="container">

    <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">관리자로 로그인</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="loginData.id">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="loginData.pwd">

        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
    </form>

</div>
<!-- /container -->