<h1 class="page-header">문의사항</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{items.length}}</h1>
        <span class="text-muted">총 문의수</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{successNum}}</h1>
        <span class="text-muted">총 해결수</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{failNum}}</h1>
        <span class="text-muted">총 미해결수</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">

    </div>
</div>

<h2 class="sub-header">문의사항 리스트</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>날짜</th>
                <th>ID</th>
                <th>내용</th>
                <th class="btnCenter">확인유무</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.count}}</td>
                <td>{{item.queryDate}}</td>
                <td>{{item.queryAuthor}}</td>
                <td>{{item.queryContext}}</td>
                <td class="btnCenter">
                    <button ng-if="!item.checked" type="button" ng-click="success(item._id)" class="btn btn-success">확인</button>
                    <button ng-if="item.checked" type="button" class="btn btn-info" disabled="disabled">완료</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>