<h1 class="page-header">회원 관리</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{items.length}}</h1>
        <span class="text-muted">총 회원수</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h1>{{totalVisits}}</h1>
        <span class="text-muted">총 방문수</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">

    </div>
    <div class="col-xs-6 col-sm-3 placeholder">

    </div>
</div>

<h2 class="sub-header">회원 리스트</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>이름</th>
                <th>ID</th>
                <th>가입일</th>
                <th>방문수</th>
                <th>대회</th>
                <th>코트장</th>
                <th>동호회</th>
                <th>Likes</th>
                <th>Posted</th>
                <th>Img</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.login}}</td>
                <td>{{item.since}}</td>
                <td>{{item.visits}}</td>
                <td>{{item.competitions.length}}</td>
                <td>{{item.courts.length}}</td>
                <td>{{item.clubs.length}}</td>
                <td>{{item.likes.length}}</td>
                <td>{{item.posted.length}}</td>
                <td>{{item.img}}</td>
            </tr>
        </tbody>
    </table>
</div>