<div class="list-group">
  <a href="/admin#/info" ng-click="infoList()" class="list-group-item {{infoActive}}">
     <span class="badge">{{infoNum}}</span>
     정보리스트
  </a>

  <a href="/admin#/ads" ng-click="ads()" class="list-group-item {{adsActive}}">
    <span class="badge">{{adsNum}}</span>
    광고
  </a>

  <a href="/admin#/query" ng-click="query()" class="list-group-item {{queryActive}}">
    <span class="badge">{{queryNum}}</span>
    의견보내기
  </a>

  <a href="/admin#/noti" ng-click="noti()" class="list-group-item {{notiActive}}">
    <span class="badge">{{notiNum}}</span>
    공지 및 이벤트
  </a>

  <a href="/admin#/userlist" ng-click="userList()" class="list-group-item {{userListActive}}">
    <span class="badge">{{userListNum}}</span>
    회원정보
  </a>
</div>