<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{competitionsActive}}">
            <a href="#competitions" aria-controls="competitions" role="tab" data-toggle="tab">
                대회
            </a>
        </li>
        <li role="presentation" class="{{courtsActive}}">
            <a href="#courts" aria-controls="courts" role="tab" data-toggle="tab">
                코트장
            </a>
        </li>
        <li role="presentation" class="{{clubsActive}}">
            <a href="#clubs" aria-controls="clubs" role="tab" data-toggle="tab">
                동호회
            </a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {{competitionsActive}}" id="competitions" ng-include="templates.competitions">
        
        </div>
        <div role="tabpanel" class="tab-pane {{courtsActive}}" id="courts" ng-include="templates.courts">
          
        </div>
        <div role="tabpanel" class="tab-pane {{clubsActive}}" id="clubs" ng-include="templates.clubs">
    
        </div>

    </div>

</div>