<!DOCTYPE html>
<html lang="ko" ng-app="findLessons" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>루키코리아::스포츠 레슨 전문 플랫폼</title>

    <!-- Angular Material Design -->
    <link rel="stylesheet" href="libraries/angular/angular-material/angular-material.min.css">

    <!-- Bootstrap -->
    <link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwsome -->
    <link rel="stylesheet" href="libraries/font-awesome/css/font-awesome.min.css">

    <!-- Custom -->
    <link href="stylesheets/common.css" rel="stylesheet">
    <link href="stylesheets/findLessons.css" rel="stylesheet">

    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]><![endif]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


</head>

<body ng-controller="findCtrl">
    <nav-bar></nav-bar>

    <div class="container-fluid wrapper">
        <div class="container findPannel">
            

        </div>



    </div>


    <footer-custom></footer-custom>


    <script src="libraries/jquery/jquery.min.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="libraries/angular/angular/angular.min.js"></script>
    <script src="libraries/angular/angular/angular-route.min.js"></script>
    <script src="libraries/angular/angular-animate/angular-animate.min.js"></script>
    <script src="libraries/angular/angular-aria/angular-aria.min.js"></script>
    <script src="libraries/angular/angular-material/angular-material.min.js"></script>
    <script src="javascripts/commonCtrl.js"></script>
    <script src="javascripts/findCtrl.js"></script>

</body>

</html>