<!DOCTYPE html>
<html lang="ko" ng-app="log" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>루키코리아::스포츠 레슨 전문 플랫폼</title>

    <!-- Angular Material Design -->
    <link rel="stylesheet" href="libraries/angular/angular-material/angular-material.min.css">

    <!-- Bootstrap -->
    <link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwsome -->
    <link rel="stylesheet" href="libraries/font-awesome/css/font-awesome.min.css">

    <!-- Custom -->
    <link href="stylesheets/common.css" rel="stylesheet">
    <link href="stylesheets/log.css" rel="stylesheet">

    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]><![endif]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


</head>

<body ng-controller="logCtrl">
	<nav-bar></nav-bar>

	<div class="container-fluid wrapper">
		<div class="container logTitle">
			<h2>로그인</h2>
			<h4>루키코리아에 오신 것을 환영합니다.</h4>
		</div>

		<div class="container logForm">
			<div ng-if="errExist" class="alert alert-danger alert-dismissible fade in" role=alert ng-repeat="err in loginErrMessages track by $index"> 
				<button type=button class=close data-dismiss=alert aria-label=Close>
					<span aria-hidden=true>&times;</span>
				</button>
				<p><strong>{{err}}</strong></p> 
			</div>			

			<div class="row">
				<div class="col-sm-6">
					<form class="form-horizontal" ng-submit="loginSubmit()">
						<div class="form-group">
							<label for="inputID" class="col-sm-3 control-label"><span class="red">&#42;</span>아이디</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="inputID" placeholder="Email 또는 ID" name="login" ng-model="userId">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-3 control-label"><span class="red">&#42;</span>비밀번호</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="inputPassword" placeholder="비밀번호" name="password" ng-model="userPw">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="checkbox">
									<label>
										<input type="checkbox"> 로그인 상태 유지
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div layout="row" layout-align="center center">
					                <md-button id="searchLesson" flex="100" class="md-raised md-primary" type="submit">로그인</md-button>
					            </div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
									비밀번호를 잊으셨나요? 
									<label>
										<a href="/findpw">비밀번호 찾기</a>
									</lable>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-6">


				</div>
			</div>
		</div>
	</div>


    <footer-custom></footer-custom>

	<% if(typeof errors != 'undefined') { %>
	<error>
		<% errors.forEach(function (error) { %>
		<li><%= JSON.stringify(error) %></li>
			<% }); %>
	</error>
	<% } %>

    <script src="libraries/jquery/jquery.min.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
    <script src="libraries/angular/angular/angular.min.js"></script>
    <script src="libraries/angular/angular/angular-route.min.js"></script>
    <script src="libraries/angular/angular-animate/angular-animate.min.js"></script>
    <script src="libraries/angular/angular-aria/angular-aria.min.js"></script>
    <script src="libraries/angular/angular-material/angular-material.min.js"></script>
    <script src="javascripts/commonCtrl.js"></script>
    <script src="javascripts/logCtrl.js"></script>

</body>

</html>