
.floatL {
	float: left;
}

.floatR {
	float: right;
}

.margin0 {
	margin: 0;
}

.marginCenter {
	margin: 0 auto;
}

.padding0 {
	padding: 0;
}

.marginH15 {
	margin: 0 15px;
}

.marginR15 {
	margin-right: 15px;
}

.marginL15 {
	margin-left: 15px;
}

.marginH10 {
	margin:0 10px;
}

.marginT0 {
	margin-top: 0px;
}

.marginT10 {
	margin-top: 10px;
}

.marginT15 {
	margin-top: 15px;
}

.marginT30 {
	margin-top: 30px;
}

.marginT35 {
	margin-top: 35px;
}

.marginT50 {
	margin-top: 50px;
}

.marginT51 {
	margin-top: 51px;
}

.marginT74 {
	margin-top: 74px;
}

.marginT100 {
	margin-top: 100px;
}

.paddingL0 {
	padding-left: 0;
}

.paddingR0 {
	padding-right: 0;
}

.paddingL30 {
	padding-left: 30px;
}

.paddingT10 {
	padding-top: 10px;
}


.borderT2SG {
	border-top: 2px solid gray;
}


.width100 {
	width: 100%;
}

.textCenter {
	text-align: center;
}

.marginB0 {
	margin-bottom: 0px;
}

.marginB15 {
	margin-bottom: 15px;
}

.marginB40 {
	margin-bottom: 40px;
}

.marginB100 {
	margin-bottom: 100px;
}

.border1SC {
	border: 1px solid #ddd;
}

.borderB0 {
	border-bottom: 0px;
}

.bgf5 {
	background-color: #f5f5f5;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #f5f5f5;
}

.nav-tabs {
	border-bottom: 0;
}





.modalImg {
	height: 128.328px; 
	width: 192.5px; 
	border: 1px solid rgb(221, 221, 221); 
	padding: 5px;
}
