
.navbar-white {
	background-color: #fff;
	border-color: #fff;
}

.mainIMG {
	width: 320px;
	height: 102px;
	display: block;
	margin: 200px auto 30px auto;
}


@media (min-width: 768px){
	input#searchKeyword {
		width: 647px;
	}
}

@media (min-width: 992px){
	input#searchKeyword {
		width: 382px;
	}
}

@media (min-width: 1200px){
	input#searchKeyword {
		width: 482px;
	}
}


.container > .row > .table-responsive > .table > tbody > tr > td > a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.container > .row > .table-responsive > .table > tbody > tr > td {
	text-align: center;
}






.appAddsL {
	height: 400px;

	background: url("../images/appAddsL.png") no-repeat 0 0;
}

.appAddsR {
	height: 400px;
	background-color: #F7F6F4;
}



#appDown {
	display:block;
	margin: 20px auto;
	margin-top: 100px;
	padding-left: 40px;
}

#appleBtn {
	display: block;
	margin: 20px auto;
	width: 260px;
	height: 46px;
	background: url("../images/btn/btn_apple.png") no-repeat 0 0;
}

#appleBtn:hover {
	background-position: 0 -46px;
}

#appleBtn span{
	position: absolute;
	top: -999em;
}

#googleBtn {
	display: block;
	margin: 20px auto;
	width: 260px;
	height: 46px;
	background: url("../images/btn/btn_google.png") no-repeat 0 0;
}

#googleBtn:hover {
	background-position: 0 -46px;
}

#googleBtn span{
	position: absolute;
	top: -999em;
}

