
footer.content1 {
	border-top: 4px solid #E3434B;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 970px;
}

footer.content1 > div.container > div.row > div.col-xs-9 > div.noti > i {
	float: left;
	line-height: 25px;
	font-weight: bold;
	margin-right: 5px;
}

footer.content1 > div.container > div.row > div.col-xs-9 > div.noti > span {
	line-height: 25px;
	font-weight: bold;
}

footer.content1 > div.container > div.row > div.col-xs-9 > div.notiList > ul > li > a {
	color: #909090;
}

div.cs_header > i {
	float: left;
	line-height: 25px;
	font-weight: bold;
	margin-right: 5px;
	padding-left: 16px;
}

div.cs_header > span {
	float: left;
	line-height: 25px;
	font-weight: bold;
}

div.cs_header > div.cs_btn > a {
	border: 2px solid #E3434B;
	border-radius: 5px;
	height: 25px;
	width: 70px;
	float: right;
	text-align: center;
	display: block;
	line-height: 25px;
	text-decoration: none;
	color: #E3434B;
}

div.cs_header > div.cs_btn > a:hover {
	background-color: #E3434B;
	color: white;
	border: 2px solid #E01616;
	border-radius: 5px;
}

div.cs_phone {
	clear: both;
	height: 53px;
}

div.cs_phone > h2 {
	font-weight: bold;
	float: right;
	margin-top: 10px;
}

div.cs_time {
	clear: both;
}

div.cs_time > span {
	color: #909090;
	float: right;
}

footer.content1 > div.container > div.row > div.col-xs-3 > div.cs > div.header > div.cs_time > span.time {
	margin-left: 10px;
}

footer.content2 {
	border-top: 2px solid #ECECEC;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer.content2 > div.container > div.row > div.col-xs-9 > div.terms > span > a {
	color: black;
}

footer.content2 > div.container > div.row > div.col-xs-9 > div.compInfo > ul > li {
	float: left;
	margin-right: 30px;
	font-size: 11.5px;
}

div.csQuery > div.modal-dialog > div > div.modal-body > form > button:hover {
	background-color: #E3434B;
	color: white;
}

