div.wrapper {
	background-color: #F4F4F4;
	min-width: 970px;
	border-top: 1px solid #888888;
	padding-bottom: 60px;
}

div.wrapper > div.phase1.deactive,
div.wrapper > div.phase2.deactive,
div.wrapper > div.phase3.deactive {
	display: none;
}

div.wrapper > div.phase1 > div.container,
div.wrapper > div.phase2 > div.container,
div.wrapper > div.phase3 > div.container {
	padding: 0;
}

div.wrapper > div.phase1 > div.container.title,
div.wrapper > div.phase2 > div.container.title,
div.wrapper > div.phase3 > div.container.title {
	background-color: white;
	border: 1px solid #888888;
	border-top: 0px;
	border-bottom: 0px;
	height: 39px;	
}

div.wrapper > div.phase1 > div.container.title > ul,
div.wrapper > div.phase2 > div.container.title > ul,
div.wrapper > div.phase3 > div.container.title > ul {
	margin: 0px;
	margin-top: 4.5px;
}

div.wrapper > div.phase1 > div.container.title > ul > li,
div.wrapper > div.phase2 > div.container.title > ul > li,
div.wrapper > div.phase3 > div.container.title > ul > li {
	list-style-type: none; 
	float: left;
	margin-right: 20px;
	opacity: 0.8;
}

div.wrapper > div.phase1 > div.container.title > ul > li.active,
div.wrapper > div.phase2 > div.container.title > ul > li.active,
div.wrapper > div.phase3 > div.container.title > ul > li.active {
	opacity: 1;
	font-weight: bold;
}

div.wrapper > div.phase1 > div.container.title > ul > li:hover,
div.wrapper > div.phase2 > div.container.title > ul > li:hover,
div.wrapper > div.phase3 > div.container.title > ul > li:hover {
	opacity: 1;
	font-weight: bold;
}

div.wrapper > div.phase1 > div.container.title > ul > li > a,
div.wrapper > div.phase2 > div.container.title > ul > li > a,
div.wrapper > div.phase3 > div.container.title > ul > li > a {
	text-decoration: none;
	color: #333333;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > h3,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > h3,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > h3 {
	margin-bottom: 20px;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.nextBtn,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div > div > div.nextBtn,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div > div > div.nextBtn {
	color: white;
	text-align: center;
	background-color: #E3434B;
	width: 90px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 40px auto;
	cursor: pointer;
}

div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div > div,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div > div {
	margin-top: 40px;
	margin-bottom: 40px;
}

div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div > div > div.nextBtn.phase2,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div > div > div.nextBtn.phase3 {
	margin: 0 auto;
	float: left;
}

div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div > div > div.nextBtn.phase2:first-child,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div > div > div.nextBtn.phase3:first-child {
	margin-right: 20px;
	margin-left: 260px;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.nextBtn.active,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.nextBtn.active,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.nextBtn.active {
	opacity: 1;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container {
	width: 100%;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section {
	border: 1px solid #888888;
	border-bottom: 0;
	background-color: white;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 40px;
}

div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section {
	border-bottom: 1px solid #888888;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section:last-child {
	border-bottom: 1px solid #888888;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-3 > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-3 > span,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-3 > span  {
	border: 2px solid #E3434B;
	border-radius: 5px;
	padding: 2px 4px;
	color: #E3434B;
	font-size: 0.8em;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-3 > span.option {
	color: #cccccc;
	border-color: #cccccc;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 {
	padding-top: 10px;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row:first-child,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row:first-child,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row:first-child {
	padding: 0px;
	padding-bottom: 15px;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row {
	padding-top: 10px;
	width: 100%;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-4,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-6,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-12,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-4,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-6,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-12,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-4,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-6,
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row > div.col-xs-9 > div.row > div.col-xs-12 {
	padding: 0px;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > span.helper,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > span.titleResult,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > span.helper {
	color: #cccccc;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.category > div.col-xs-9 > div.row > div.col-xs-6 > span,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-6 > span, 
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.date > div.col-xs-9 > div.row > span,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.phone > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.email > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.homepage > div.col-xs-9 > div.row > div.col-xs-12 > span,

div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.category > div.col-xs-9 > div.row > div.col-xs-6 > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-4 > span, 
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.date > div.col-xs-9 > div.row > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.phone > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.email > div.col-xs-9 > div.row > div.col-xs-12 > span,
div.wrapper > div.phase2 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.homepage > div.col-xs-9 > div.row > div.col-xs-12 > span,

div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > span,

#clickLatlng {
	color: #E3434B;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-12 > div#map {
	border: 1px solid #cccccc;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.category > div.col-xs-9 > div.row > div.col-xs-6,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-6,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.date > div.col-xs-9 > div.row > div.col-xs-6 {
	padding-right: 10px;
}

div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.category > div.col-xs-9 > div.row > div.col-xs-6:last-child,
div.wrapper > div.phase1 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.location > div.col-xs-9 > div.row > div.col-xs-6:last-child {
	padding-right: 0px;
}

div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > div.imgupload {
	border: 1px solid #cccccc;
	opacity: 0.8;
}

div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > div.imgupload:hover {
	opacity: 1;
}
div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > div.col-xs-12 > div.imgupload > input {
	overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
}

div.wrapper > div.phase3 > div.container.wrapper > div.row > div.col-xs-12 > div.container.section > div.row.title > div.col-xs-9 > div.row > span {
	color: #E3434B;
	float: left;
}


#alertModal > div > div > div.modal-body,
#alertSuccess > div > div > div.modal-body,
#alertComplete > div > div > div.modal-body {
	text-align: center;
}

#alertModal > div > div > div.modal-body > i {
	color: red;
	font-size: 60px;
	padding: 20px;
	border: 10px solid red;
	border-radius: 20px;
	margin-bottom: 20px;
}

#alertSuccess > div > div > div.modal-body > i,
#alertComplete > div > div > div.modal-body > i {
	color: green;
	font-size: 60px;
	padding: 20px;
	border: 10px solid green;
	border-radius: 20px;
	margin-bottom: 20px;
}

#loadingModal > div > div {
	text-align: center;

}
#loadingModal > div > div > i {
	font-size: 4em;
	padding: 20px;
}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}